<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>RailsinstallerDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
=======
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>
>>>>>>> c4932cfc7bd3931a33f47ac621312c3d551772c2
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
